.headerContainer {
    width: 100%;
    height: 120px;
    background-color: green;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.headerContainer img {
    width: 150px;
    height: 90%;
}